.delivery{
    .btns{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        @media (max-width:992px) {
            justify-content: center;
            margin-top: 25px;
        }
    }
    .text{
        p{
            margin-bottom: 25px;
        }
    }
 
 
}