header{
    color: $headingColor;
    height: 85px;
   .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 10px;
    .logo{
     font-size: 25px;
     font-weight: bold;
    }
    ul{
        display: flex;
            gap: 15px;
            transition: .5s;
            @media (max-width:992px){
                position: fixed;
                margin: 0;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #fdcb35;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                &.active{
                    width: 100%;
                    opacity: 1;
                }
            }
        li{
            @media (max-width:992px) {
                margin-bottom: 30px;
            }
            i{
                font-size: 22px;
                margin-left: 10px;
                cursor: pointer;
                transition: .5s;
            }
            a{
                color: black;
                cursor: pointer;
                padding: 10px 15px;
                transition: .5s;
                @media (max-width:992px) {
                    font-size: 25px;
                }
                &.home{
                    position: relative;
                    &::before{
                        content: ".";
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 30px;
                        @media (max-width:992px) {
                        display: none;
                        }
                    }
                    
                }
                &:hover{
             
                    border-radius: 24px;
                    background-color: $mainColor;
                }
            }
        }
    }
.btn-shape{
    @media (max-width:767px){
        display: none;
    }
}
.menu{
    display: none;
    @media (max-width:992px) {
        display: block;
    }
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    cursor: pointer;
    transition: .5s;
    &:nth-child(2){
      top: 10px;
    }
    &:nth-child(3){
        top: 20px;
    }

   
    }
    &.active{
        span:nth-child(1){
            transform: rotate(45deg);
            top: 9px;
          }  
        span:nth-child(2){
            opacity: 0;
          }   
          span:nth-child(3){
            transform: rotate(-45deg);
            top: 9px;
        }
    }
}
   }
}